.DS_Store
__pycache__/
*.pyc

# virtual env
.venv/
.venv311/

# datasets and large assets
archive/
images/
annotations/
datasets/
*.tar.gz
*.zip
*.pt
*.pth
*.mp4
*.mov
*.avi
*.mkv
*.pdf

# experiment artifacts
outputs/
runs/
wandb/

# macOS or IDE
.idea/
.vscode/
